*{
    margin:0px;
    padding: 0px;
}

body{
   
    padding: 10px;
}

body>h1{
    margin-bottom: 10px;
}

.currentTimeZoneContainer{
    margin: 10px 0px 30px 0px;
    border:  1px solid black;
    padding:10px;
    display:flex;
    flex-direction:column;
    gap:5px;

}

.latLongContainer{
    display: flex;
    justify-content: space-between;
}

.enteredAddressTimezone{
    background-color: black;
    color: white;
    padding: 15px;
}

.enteredAddressTimezone>h2{
    margin-bottom: 10px;
}

.enteredAddressTimezone>input{
    width: 98%;
    padding:10px ;
    margin-bottom: 10px;
    outline: none;

}
.enteredAddressTimezone>button{
    width: 15%;
    padding: 10px;
    margin-bottom: 10px;
}

.enteredAddressTimezoneContainer{
    margin: 10px 0px 30px 0px;
    border:  1px solid black;
    padding:10px;
    flex-direction:column;
    gap:5px;
    border: 1px solid white;
    display: none;
}


.enteredAddressTimezoneContainer>h2{
    margin-top: 10px;
}
